header{
    background-color: blue;
    color: white;
    padding: 3em;
    text-align: center;
}
footer{
    background-color: blue;
    color: white;
    padding: 3em;
    text-align: center;
}

div{
    text-align: center;
}